.top-bar{
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding-left:126px;
    padding-right: 150px;
    color: white;
    align-items: center;
    font-size: 16px;
    border-bottom: 0.1px solid rgba(125, 123, 123, 0.1);
}

.top-bar  a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.logo{
    width: 240px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-links  a{
    text-decoration: none;
    color: white;
}

.location-icon, 
.email-icon,
.login-link,
.register-link{
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 16px;
}


p,h1,h2{
 padding: 0px;
 margin:0px
}

.left-content{
    display: flex;
    gap: 153px;
}

.right-content{
    display: flex;
    gap: 50px;
}

.hero-text > p, .hero-text > h1 {
    margin-bottom: 15px;
}

.navbar{
    padding-left: 126px;
    padding-right: 150px;
    padding-top:17px;
    height: 89px;
    display: flex;
    color: white;
    border-bottom: 0.1px solid rgba(125, 123, 123, 0.1);
    align-items: center;
}

.logo{
    margin-right: 220px;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    margin-right: 86px;
    width: 628px;
    color: white;
}

.nav-links > div:hover{
    border-bottom: 1px solid white;
}

.hero {
    padding-left: 236px;
    padding-top: 100px;
    color: white;
    border: none;
    background-image: url("../../assets/mainbg2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 45, 110, 0.8); /* Black overlay with 50% opacity */
    z-index: -10;
}



.hero-text{
    /* height: 366px; */
    width: 530px;
}

.top-half{
    height: 848px;
    background-color: #00164C;
}

.hero-text > h1{
    font-size: 60px;
    font-weight: bold;
}

.hero-text > .aboutp{
    font-size: 16px;
    text-align: left;
    letter-spacing: 0;
}

.hero-text > .we{
    font-family: muli, Regular;
    font-size: 24px;
    font-weight:200;
    text-align: left;
    letter-spacing: opx;
}

.talk-to-us{
    height: 40px;
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 6px;
    border: none;
    color: #00164C;
}

select{
    background-color: transparent;
    border: none;
    color: white
}

.services{
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: relative;
    top: -95px;
    justify-content: center;
}

.developer{
    background-color: #003FD9;
    color: white;
}

.service{
    width: 300px;
    height: 150px;
    padding: 38px 30px;
    display: flex;
    gap: 10px;
    box-shadow: 0px 0px 117px #0c3eb914;
}

.service p{
    line-height: 30px;
}

.voice, .electronic{
    background-color: white;
    font-size: 14px;
}

.gateway{
    width: 50%;
    /* height: 453px; */
    border: 1px solid black;
}

.about{
    display: flex;
    padding: 30px 190px;
    gap: 40px;
}

.who-we-are{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.customers{
    background: linear-gradient(to bottom, #F4F9FC 54%, white 50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 60px 0px;
}

.read-more{
    padding: 10px 20px;
    border:0.3px solid rgba(125, 123, 123, 0.2);
    border-radius: 4px;
}

.customer-services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:1fr 1fr;
    width: 1000px;
    height: 680px;
    border: none;
}

.customer-services p{
    font-size: 16px;
    margin-bottom: 36px;
}

.customer{
    padding: 38px;
    border: 0.1px solid rgb(181, 178, 178, 0.3);
}

.messaging, .emails {
    background-color: white;
}

.style-line{
    width: 38px;
    display: flex;
    gap: 4px;
    height: 5px;
}

.dot-line{
    width: 34%;
    background-color: #003FD9;
    border-radius: 5px;
}

.line{
    width: 66%;
    background-color: #003FD9;
    border-radius: 5px;
}

.sender{
    background-color: #0C3EB9;
    color: white;
}

.left-side{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left:170px;
}

.working-process{
    padding: 30px 0px;
}

.progress-bars{
    display: flex;
    flex-direction: column;
}

.progress-bar{
    margin-bottom: 20px;
}

.progress{
    height: 8px;
    background-color: #0C3EB9;
    border-radius: 6px;
}

.data-sq{
    width: 180px;
    height: 120px;
    background-color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 105px;
    bottom: 50px;
    z-index: 10;
    box-shadow: 0px 0px 24px #0C3EB92E;
}

.circle{
    width: 213px;
    height: 213px;
    border: 100px solid #0C3EB9;
    border-radius: 50%;
}

.rating-circle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cases{
    display: flex;
    gap: 30px;
}

.case-studies{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0px;
    background-color: #F4F9FC;
}

.case{
    width: 370px;
    height: 250px;
    box-shadow: 0px 0px 117px #0C3EB914;
}

.img-details{
    width: 200px;
    height: 96px;
    background-color: white;
    position: relative;
    bottom: 50px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    align-items: start;
}

.img-details > h1 {
    font-size: 16px;
    color: #0C3EB9;
    margin-bottom: 10px;
}

.team{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 190px;
}

.team-members{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 70px;
}

.team-text{
    display: flex;
    align-items:last baseline;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px;
}

.team-member{
    width: 300px;
    height: 330px;
}

.team-member > img{
    border-radius: 10px;
}


.team-text > h2, .team-text > span {
    width: 50%;
}

.jpeg{
    width: 60px;
    height: 60px;
}

.jpeg-container{
    display: flex;
    gap: 20px;
}

.banners{
    display: flex;
    align-items: center;
    gap:40px;
}

.working-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #00164C;
}

.video-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 100px 0px;
}

.img-explanation{
    background-color: white;
}

video{
    width: 200px;
    height: 260px;
    border: 1px solid black;
}

.industry-expert{
    display: flex;
    flex-direction: column;
    padding:100px 230px;
    align-items: center;
    background-color: #F4F9FC;
}

.expert-services{
    display: flex;
    justify-content: space-evenly;
    width:940px;
    margin-top: 50px;
}

.expert-service{
    width: 200px;
    height:100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border: 0.4px sold rgb(72, 71, 71);
    margin-bottom: 50px;
}

.blog-update{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
}

.blogs{
    display: flex;
    gap: 20px;
}

.blog{
    width: 300px;
    height: 230px;
     box-shadow: 0px 0px 117px #0C3EB914;
}

.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 256px;
}

.testimonies{
    display: flex;
    gap:20px;
}

.testimonial{
    width: 370px;
    height: 160px;
    padding: 5px;
}

.profile-circle{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #C2C2C2;
    box-shadow: 0px 0px 16px #4D4D4D3D;
}

.footer-1{
    background-color: white;
}

.logo-images{
    height: fit-content;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}

.logo-images > span{
    width: 170px;
}

.logo-images img{
    object-fit: contain;
}

.footer-2{
    padding: 80px 190px;
    background-color: #000A24;
}

li{
    text-decoration: none;
}

.footer-content{
    display: flex;
    align-items:baseline;
    gap: 30px;
    text-align: start;
}

.foot-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:0.1px solid rgb(177, 174, 174, 0.3)  ;
    color: white;
}

.footer-logo{
    width: 160px;
    height: 60px;
}

.footer-3{
    padding: 10px 200px;
    background-color: #000A24;
}

  