<body>
    <header class="header">
        <div class="container">
            <div class="top-bar">
                <div class="contact-info">
                    <p>3rd floor, Utumishi House | info&#64;kentapay.io</p>
                </div>
                <div class="user-options">
                    <a href="#">About Us / FAQ</a>
                    <a href="#"><i class="fas fa-lock"></i> Login</a>
                    <a href="#"><i class="fas fa-user-plus"></i> Register</a>
                </div>
            </div>
            <div class="navbar">
                <div class="logo">
                    <img src="assets/kentapay.png" alt="">
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Kentapay Services</a></li>
                        <li><a href="#">Payment</a></li>
                        <li><a href="#">Security</a></li>
                        <li><a href="#">Developers</a></li>
                        <li><a href="#">Documentation</a></li>
                    </ul>
                </nav>
                <a href="#" class="talk-to-us">Talk to us</a>
            </div>
        </div>
    </header>

    <section class="promo-bar">
        <div class="container">
            <p>Check how our client and partners are saying about us...</p>
            <span class="blog"><a href="#">Check our Blog&gt;&gt;</a></span>
        </div>
    </section>

    <section class="banner">
        <div class="container">
            <h1>Get to know</h1>
            <p>Send effective text communication to your customers when they need it. Our easy-to-use and reliable SMS APIs provide a wide variety of ways for you.</p>
        </div>
    </section>
    <section class="services">
        <div class="kyc-header"><h2>KYC Services</h2></div>
        <div class="container">
            <div class="service-content">
                <div class="service-images">
                    <div style="display: flex; align-items: center; 
                        position: relative; top: 80px; left: 20px;
                        z-index: 3;
                    ">    
                        <div style="width: 220px; height: 220px; border: 1px solid white; background-color: white;"><img src="assets/electronic.jpeg" alt=""></div>
                        <div style="width: 140px; height: 140px;  border: 1px solid white;"><img src="assets/mainbg.jpeg" alt=""></div>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <div style="width: 140px; height: 140px;  border: 1px solid white;"><img src="assets/mainbg2.jpeg" alt=""></div>
                        <div style="width: 220px; height: 220px;  border: 1px solid white;"><img src="assets/voice.jpeg" alt=""></div>
                    </div>
                </div>
                <div class="service-text">
                    <h3>KYC Services</h3>
                    <div class="underline"></div>
                    <p>We provide full personal identity subscription services for easy KYC (Know Your Customer) procedures by integrating with a number of African government registries. During client onboarding, our technology offers a quick and safe method of identity verification, guaranteeing regulatory compliance. Our technology lowers fraud, streamlines identification verification, and builds client trust by providing real-time access to government databases. Discover the dependability, safety, and ease of use of our personal identity services, which are intended to facilitate a seamless and compliant onboarding experience.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="call-to-action">
        <div class="container">
            <h2>Ready to take the next step?</h2>
            <a href="#" class="cta-button">Talk to us &#x2192;</a>
        </div>
    </section>


    <section class="partners">
        <div class="logo-images">
            <span><img src="assets/branch.png" alt=""></span>
            <span><img src="assets/NuruNet.png" alt=""></span>
            <span><img src="assets/gulf.png" alt=""></span>
            <span><img src="assets/un.png" alt=""></span>
            <span><img src="assets/kps.png" alt=""></span>
            <span><img src="assets/faulu.png" alt=""></span>
         </div>
    </section>
    
    <footer class="footer-2">
        <div class="foot-cont">
            <div>
                <div class="footer-logo">
                    <img src="assets/kentapay.png" alt="">
                </div>
                <h3>About Kentapay</h3>
                <p style="margin-bottom: 10px;">Mission & vision</p>
                <a href="" style="text-decoration: none; color: white;">Learn more</a>
            </div>
           
            <div class="footer-content">
                <div class="footer-links">
                    <h3>Payments</h3>
                    <ul>
                        <li>Card Payments</li>
                        <li>Mobile Payments</li>
                        <li>Fraud Guard</li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h3>Products</h3>
                    <ul>
                        <li>SMS</li>
                        <li>USSD</li>
                        <li>Airtime</li>
                    </ul>
                </div>
                <div class="footer-contact">
                    <h3>Quick Contact</h3>
                    <p>If you have any questions or need help, feel<br> free to contact our team.</p>
                    <p>(+990) 885-69569</p>
                    <p>3rd Floor, Utumishi Co-op House,<br> Mamlaka Road, Nairobi, Kenya</p>
                </div>
            </div>
            
        </div>
    </footer>
</body>