<body>
    <div class="intro">
        <h1>KentaPay Services</h1>
        <p>A single platform to accept payments, protect revenue, and control <br> your finances.</p>
    </div>

    <div class="container-div">
        <div class="services-grid">
            <div class="service-box">
                <h2>Messaging Services</h2>
                <p>We redefine the landscape of communication with our comprehensive Messaging Services both locally and internationally.</p>
            </div>
            <div class="service-box">
                <h2>Sender ID Services</h2>
                <p>We empower you to make a lasting impression with our advanced SMS Sender ID Service. Dive into the intricacies of our service as we...</p>
            </div>
            <div class="service-box">
                <h2>Electricity Bill Services</h2>
                <p>To provide a smooth payment option for both prepaid and postpaid electricity services, we have worked with significant worldwide...</p>
            </div>
            <div class="service-box">
                <h2>Water Utilities Services</h2>
                <p>We now provide an effective payment option for both prepaid and postpaid water services thanks to our integration with...</p>
            </div>
            <div class="service-box">
                <h2>Emails Services</h2>
                <p>We understand that effective communication is at the heart of every successful business. Explore the diverse possibilities...</p>
            </div>
            <div class="service-box">
                <h2>USSD Services</h2>
                <p>At Kentapay, we bring you the next frontier in interactive communication with our USSD Service. Delve into the richness...</p>
            </div>
            <div class="service-box">
                <h2>KYC Services</h2>
                <p>We provide full personal identity subscription services for easy KYC (Know Your Customer) procedures by integrating with...</p>
                <a routerLink="payment-services">more</a>
            </div>
            <div class="service-box">
                <h2>Ticketing Services</h2>
                <p>In partnership with major service providers across Africa we provide a wide range of ticketing solutions for events, airline...</p>
            </div>
            <div class="service-box">
                <h2>Pay TV Services</h2>
                <p>Our smooth integration with the world's leading Pay TV services enables us to offer a quick and easy way to pay for your monthly subscriptions...</p>
            </div>
            <div class="service-box">
                <h2>Internet Subscription Services</h2>
                <p>We provide a smooth interface with top internet subscription services across the globe, making it simple for you to...</p>
            </div>
            <div class="service-box">
                <h2>CRB Services</h2>
                <p>Through our partner integrations, our platform enables businesses to check the credit ratings of their end users seamlessly, providing crucial insights...</p>
            </div>
            <div class="service-box">
                <h2>Government Collections Services</h2>
                <p>Our Government Collections service ensures ease and transparency for government agencies as well as people by providing a...</p>
            </div>
            <div class="service-box">
                <h2>Cards Services</h2>
                <p>We offer smooth integration for processing UnionPay, Visa, and MasterCard cards, giving you a reliable and effective...</p>
            </div>
            <div class="service-box">
                <h2>Fraud Guard Services</h2>
                <p>With our extensive Fraud Guard services, we are committed to protecting your company's financial transactions. Our...</p>
            </div>
        </div>
    </div>
</body>