<owl-carousel-o [options]="customOptions" class="carousel">
    <ng-template carouselSlide><img src="assets/branch.png" alt=""></ng-template>  
    <ng-template carouselSlide><img src="assets/gulf.png" alt=""></ng-template>  
    <ng-template carouselSlide><img src="assets/faulu.png" alt=""></ng-template>
    <ng-template carouselSlide><img src="assets/kps.png" alt=""></ng-template>
    <ng-template carouselSlide><img src="assets/un.png" alt=""></ng-template>
    <ng-template carouselSlide><img src="assets/NuruNet.png" alt=""></ng-template>
  </owl-carousel-o>