<body>
    <div class="payment">
        <h1>Payment Services</h1>
        <p class="subtitle">Make all your payment integrations for your customers to use.</p>
    </div>
    <div class="container">
        <div class="section">
            <h2>Online Payment</h2>
            <a href="#">Cards (Mastercard, Visa, Union Pay)</a>
            <p>Make all payment intergrations for your customers to use.</p>

            <a href="#">3D Verification</a>
            <p>Send or schedule email to your customers to run Successful campaign in bulk.</p>

            <a href="#">Tokenisation</a>
            <p>Send or schedule email to your international Audience.</p>

            <a href="#">Checkout page</a>
            <p>Send or schedule email to your international Audience.</p>
        </div>

        <div class="section">
            <h2>Mobile money services</h2>
            <a href="#">Safaricom MPESA</a>
            <p>Send sms to your customers efficiently across all Networks and internationally.</p>

            <a href="#">Airtime Money</a>
            <p>Send or schedule email to your customers to run Successful campaign in bulk.</p>

            <a href="#">Tkash</a>
            <p>Send or schedule email to your international Audience.</p>
        </div>

        <div class="section">
            <h2>Inter-bank transfer</h2>
            <a href="#">Pesalink</a>
            <p>Send sms to your customers efficiently across all Networks and internationally.</p>
        </div>
    </div>

</body>