<body>
    <header class="header">
        <div class="container">
            <div class="top-bar">
                <div class="contact-info">
                    <p>3rd floor, Utumishi House | info&#64;kentapay.io</p>
                </div>
                <div class="user-options">
                    <a href="#">About Us / FAQ</a>
                    <a href="#"><i class="fas fa-lock"></i> Login</a>
                    <a href="#"><i class="fas fa-user-plus"></i> Register</a>
                </div>
            </div>
            <div class="navbar">
                <div class="logo">
                    <img src="assets/kentapay.png" />
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Kentapay Services</a></li>
                        <li><a href="#">Payment</a></li>
                        <li><a href="#">Security</a></li>
                        <li><a href="#">Developers</a></li>
                        <li><a href="#">Documentation</a></li>
                    </ul>
                </nav>
                <a href="#" class="talk-to-us">Talk to us</a>
            </div>
        </div>
    </header>

    <section class="promo-bar">
        <div class="container">
            <p>Check how our client and partners are saying about us...</p>
            <span class="blog"><a href="#">Check our Blog&gt;&gt;</a></span>
        </div>
    </section>

    <section class="banner">
        <div class="container">
            <h1>Contact Sales</h1>
            <p>Want to get started with one of our products? Use the form below and we will get in touch.</p>
        </div>
    </section>

    <section class="services">
        <div class="kyc-header"><h2>Talk to us</h2></div>
    </section>
    
    <footer class="footer">
        <div class="container">
            <div class="footer-info">
                <div class="footer-column">
                    <div class="footer-logo">
                        <img src="assets/kentapay.png" alt="KentaPay">
                    </div>
                    <ul>
                        <li><a href="#">About KentaPay</a></li>
                        <li><a href="#">Mission and Vision</a></li>
                    </ul>
                    <a href="#" class="discover-more">DISCOVER MORE →</a>
                </div>
                <div class="footer-column">
                    <h3>Payments</h3>
                    <ul>
                        <li><a href="#">Card Payments</a></li>
                        <li><a href="#">Mobile Payments</a></li>
                        <li><a href="#">Fraud Guard</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Products</h3>
                    <ul>
                        <li><a href="#">SMS</a></li>
                        <li><a href="#">USSD</a></li>
                        <li><a href="#">Airtime</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Quick Contact</h3>
                    <div class="contact-info">
                        <p><i class="fas fa-phone-alt"></i> (+990) 885-69569</p>
                        <p><i class="fas fa-map-marker-alt"></i> 3rd Floor, Utumishi Co-op House,<br>Mamlaka Road, Nairobi Kenya</p>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-line"></div>
                <p>&copy; 2024 All Right Reserved. Kentapay Payment Solutions</p>
            </div>
        </div>
    </footer>
    
</body>